<div class="container-fluid about-section py-5" id="about">
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="text-center mb-5">
      <h2 class="about-title">About Me</h2>
      <p class="about-subtitle">
        Get to know more about my background, skills, and education
      </p>
    </div>

    <div class="row align-items-center gy-5">
      <!-- LEFT : ABOUT CONTENT -->
      <div class="col-12 col-md-6">
        <div class="about-card">
          <h4 class="mb-3">Who I Am</h4>

          <p>
            I'm a <span class="highlight"> Data Analyst </span> with a passion
            for finding valuable insights hidden in complex data.I've developed
            solid skills in analyzing data, solving problems, and communicating
            effectively.
          </p>

          <p>
            I have experience in analyzing, transforming, and visualizing data
            using tools like Power BI and Tableau. I write efficient SQL queries
            to extract and explore data effectively, ensuring accurate insights
            from complex datasets. I create interactive and insightful
            dashboards that simplify decision-making processes. Additionally, I
            transform raw data into meaningful and practical solutions that help
            solve real-world business problems.
          </p>

          <p>
            I’m always eager to learn, grow, and collaborate on exciting
            projects. Let’s connect and create something amazing together!
          </p>
        </div>
      </div>

      <!-- RIGHT : EDUCATION -->
      <div class="col-12 col-md-6">
        <div class="education-card">
          <h4 class="mb-4">Education</h4>

          <!-- EDUCATION ITEM -->
          <div class="education-item">
            <div class="edu-icon">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>

            <div class="edu-content">
              <h6>Bachelor of Technology (B.Tech)</h6>
              <p class="edu-institute">Computer Engineering</p>
              <span class="edu-duration"> 2020 – 2024 </span>
            </div>
          </div>

          <!-- EDUCATION ITEM -->
          <div class="education-item">
            <div class="edu-icon">
              <i class="fa-solid fa-school"></i>
            </div>

            <div class="edu-content">
              <h6>Diploma in Engineering</h6>
              <p class="edu-institute">Computer Engineering</p>
              <span class="edu-duration"> 2018 – 2021 </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-skills></app-skills>
<app-certifications></app-certifications>
